header {
  padding: 20px;
  background-color: #eee;
  margin-bottom: 20px;
}

.data-list {
  display: flex;
  flex-wrap: wrap;
}

.data-list li {
  background-color: #eee;
  max-width: 200px;
  margin: 20px;
  list-style-type: none;
  text-align: center;
}

.data-list li .card-image {
  padding: 20px;
}

.data-list li .card-image img {
  width: 100%;
}

.data-list li .card-text {
  padding: 15px;
}

.data-list li .card-table {
  padding: 20px; 
}

.data-list li .card-table table { 
  width: 100%;
  margin: 20px auto;
}

.data-list li .card-table td { 
  padding: 5px 10px;
}

.data-list li .card-table tr:nth-child(odd)  { 
  background-color: rgba(0,0,0,0.1);
}

.data-list li .card-table tr:nth-child(even)  { 
  background-color: rgba(255,255,255,0.5);
}

.left {
  text-align: left;
}